<%= render 'layouts/mentor_side_menu' %>
<div class="col-sm-9">
  <div class="panel panel-default">
    <div class="panel-heading">お困りごと新規登録</div>
    <div class="panel-body">

      <%= render 'shared/message_form' %>

    </div>
  </div>
</div>
