<%= render 'layouts/mentor_side_menu' %>
<div class="col-sm-9">
  <div class="panel panel-default">
    <div class="panel-heading">メンター情報編集</div>
    <div class="panel-body">

      <%= render 'shared/mentor_form' %>

    </div>
  </div>
</div>
